@media(max-width:700px){ 
            .navbar{
                flex-direction:column;
                text-align:center;
            }
        }

#image{
    height: 250px;
    border-radius: 10px;
    width: 250px;
}  

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
body{
    background-color: black;
    color: antiquewhite;
}
img {
  width: 50%;
  height: 50%;
}