input {
  display: block;
  width: 250px;
  margin: 8px 0;
  padding: 6px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input:valid {
  border-color: green;
}


form{
    justify-content: center;
    flex: auto;
}


#head{
    color:chocolate;
}
input:invalid {
  border-color: red;
}

#but{
    background-color: blue;
    color:bisque;
    cursor:pointer;
}

#but:hover{
   background-color: rgb(16, 16, 116);
}

#msg {
  font-weight: bold;
  margin-top: 10px;
  color: red;
}